/* app/styles/navbar.css */
.navbar {
    background-color: #333;
    padding: 1rem;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .nav-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  
  .centered-heading{
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
  }